[nemesis]

networkIdentifier = {{{networkIdentifier}}}
nemesisGenerationHashSeed = {{{nemesisGenerationHashSeed}}}
nemesisSignerPrivateKey = {{{nemesis.nemesisSignerPrivateKey}}}

[cpp]

cppFileHeader =

[output]

cppFile =
binDirectory = {{{binDirectory}}}

[transactions]
transactionsDirectory = {{{transactionsDirectory}}}

[namespaces]

{{{baseNamespace}}} = true

[namespace>{{{baseNamespace}}}]

duration = 0

[mosaics]

{{#nemesis.mosaics}}
{{{name}}} = true
{{/nemesis.mosaics}}

{{#nemesis.mosaics}}
[mosaic>{{{name}}}]

divisibility = {{{toAmount divisibility}}}
duration = {{{toAmount duration}}}
supply = {{{toAmount supply}}}
isTransferable = {{{isTransferable}}}
isSupplyMutable = {{{isSupplyMutable}}}
isRestrictable = {{{isRestrictable}}}

[distribution>{{{name}}}]
{{#currencyDistributions}}
{{{address}}} = {{{toAmount amount}}}
{{/currencyDistributions}}

{{/nemesis.mosaics}}